# Backend
/backend/node_modules
/backend/.env
/backend/.env.prod

# Frontend
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.prod

# System files
.DS_Store
*.swp
*.bak

# IDEs and Editors
.vscode/
.idea/
*.iml

# Environment file
.env